:root {
  font-family: JetBrainsMomo;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

b {
  font-weight: bolder;
}